[Unit]
Description=Syncing daemon that stores files from ramdisk to sdcard.

[Service]
ExecStart=/bin/bash /opt/zigbee2udp/bin/rwsync
WorkingDirectory=/tmp
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
