permit_join: false
homeassistant: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://%MQTT_ADDRESS%'
  # user: my_user
  # password: my_password

serial:
  port: /dev/ttyACM0

devices: devices.yaml

advanced:
  cache_state: false
  log_directory: /tmp/zigbee2mqtt/%TIMESTAMP%

